@import './colors';

ol {
  list-style-position: inside;
}

.pt-1 {
  padding-top: 2px;
}
.pt-2 {
  padding-top: 5px;
}
.pt-3 {
  padding-top: 10px;
}
.pt-4 {
  padding-top: 15px;
}
input[type="button" i], input[type="submit" i], input[type="reset" i], input[type="file" i]::-webkit-file-upload-button, button {
    border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
    border-style: solid;
    border-width: 1px;
    padding: 1px 7px 2px;
}
a:link, a:visited {
  color: black;
  text-decoration: none;
}
.float-right {
  float: right;
}
body {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 10pt;
    color: #828282;
}

.container {
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
}


.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}
.text-uppercase {
	text-transform: uppercase;
}

.f-small {
	font-size: 1.8rem;
}

.d-block {
	display: block;
}

.notice {
	background-color: lighten(green, 30%);
}
.alert {
	background-color: lighten(red, 10%);
}
