@import 'imports/colors';

.notices, .alerts {
  line-height: 30px;
  text-align: center;
}

.container {
  background-color: $background-grey;
  padding-bottom: 40px;
}
.content-wrapper {
  padding: 20px;
}
